@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,500;1,300;1,400&display=swap');
body{
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
}
.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
svg{
    width: 30px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
header .icon-profile{
    position: relative;
}
header .icon-profile span{
    display: flex;
    width: 20px;
    height: 20px;
    background-color: #F4511E;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 100%;
    position: absolute; 
    top: 60%;
    right: -10px;
}
.listProduct .icon img{
    width: 90%;
    filter: drop-shadow(0 50px 20px black)
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: blue;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
    left: -100px;
}
.listProduct .item .price{
    letter-spacing: none;
    font-size: small;
    position: absolute;
    width: 100px;
    top: 300px;
    left: 200px;
}
.listProduct .item button{
    background-color: #F4511E;
    color: black;
    padding: 5px 10px;
    border-radius: 25px;
    margin-top: 60px;
    border: none;
    cursor: pointer;
}

.cartTab{
    width: 400px;
    background-color: #f4501e;
    color: black;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
/*
body.showcart .cartTab{
    inset: 0 0 0 auto;
}
body.showcart .container{
    transform: translateX(-400px);
}
*/
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2);
}
.cartTab .btn button{
    background-color: blue;
    cursor: pointer;
}

div .price img{
    position: absolute;
    left: 25px;
    top: -50px;
    right: 10%;
}
div .price{
    position: absolute;
    left: -130px;
    top: -50px;
    right: 10%;
}

.cartTab .listCart .item .img{
    width: 100%;
}
.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: lightgrey;
    border-radius: 100%;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: black;
}
.listCart .item:nth-child(even){
    background-color: blue;
}
.listCart{
    overflow: auto;
}

.listProduct{
    display: inline-block;
}
